<footer class=" quickLinks">
    <a href="index.html" class="logo"><i class="fas fa-store"></i>Shop</a>
    <div class="links">
        <a href="./index.html"> Home</a>
        <a href="./pages/about.html"> Sobre</a>
        <a href="./pages/products.html"> Produtos</a>
        <a href="./pages/contact.html"> Contato</a>
        <a href="./pages/login.html"> Login</a>
        <a href="./pages/register.html"> Registre-se</a>
        <a href="./pages/cart.html"> Carrinho</a>
    </div>
    <div class="share">
        <a href="#" class="fab fa-facebook-f"></a>
        <a href="#" class="fab fa-twitter"></a>
        <a href="#" class="fab fa-instagram"></a>
        <a href="#" class="fab fa-linkedin"></a>
    </div>
</footer>
<section class="credit">
    <p>Criado por <span>Willian G.</span></p>
    <img src="./assets/images/card_img.png" alt="">
</section>