.banner {
  .boxContainer {
    @include grid(30rem);

    .box {
      position: relative;
      height: 25rem;
      border: $border;
      border-radius: 0.5rem;
      overflow: hidden;
      box-shadow: $boxShadow;

      &:hover img{
        transform: scale(1.1);
      }
      img {
        height: 100%;
        width: 100%;
        object-fit: cover;
      }

      .content {
        position: absolute;
        top: 50%;
        transform: translateY(-50%) rotate(45deg);

        span {
          font-size: 1.7rem;
          color: $blue;
        }
        h3 {
          font-size: 2rem;
          color: $black;
          padding: .5rem 0;
        }
      }
    }
  }
}
