<header class="header">
    <a href="index.html" class="logo"><i class="fas fa-store"></i> Shop</a>

    <form action="" class="searchForm">
        <input type="search" id="searchBox" placeholder="Pesquise aqui...">
        <label for="searchBox" class="fas fa-search"></label>
    </form>

    <div class="icons">
        <div class="fas fa-bars" id="menuBtn"></div>
        <div class="fas fa-search" id="searchBtn"></div>
        <a href="../../pages/login.html" class="fas fa-user"></a>
        <a href="#" class="fas fa-heart"></a>
        <a href="../../pages/cart.html" class="fas fa-shopping-cart"></a>
    </div>
</header>