<div class="sideBar">

    <div class="fas fa-times" id="closeSideBar"></div>

    <div class="user">
        <img src="./assets/images/user-img.png" alt="Imagem usuário">
        <h3>Usuário</h3>
        <a href="#">Sair</a>
    </div>

    <nav class="navBar">
        <a href="./index.html"><i class="fas fa-angle-right"></i> Home</a>
        <a href="./pages/about.html"><i class="fas fa-angle-right"></i> Sobre</a>
        <a href="./pages/products.html"><i class="fas fa-angle-right"></i> Produtos</a>
        <a href="./pages/contact.html"><i class="fas fa-angle-right"></i> Contato</a>
        <a href="./pages/login.html"><i class="fas fa-angle-right"></i> Login</a>
        <a href="./pages/register.html"><i class="fas fa-angle-right"></i> Registre-se</a>
        <a href="./pages/cart.html"><i class="fas fa-angle-right"></i> Carrinho</a>

    </nav>
</div>