<div class="sideBar">

    <div class="fas fa-times" id="closeSideBar"></div>

    <div class="user">
        <img src="./assets/images/user-img.png" alt="Imagem usuário">
        <h3>Usuário</h3>
        <a href="#">Sair</a>
    </div>

    <nav class="navBar">
        <a href="/"><i class="fas fa-angle-right"></i> Home</a>
        <a href="/sobre"><i class="fas fa-angle-right"></i> Sobre</a>
        <a href="/produtos"><i class="fas fa-angle-right"></i> Produtos</a>
        <a href="/contato"><i class="fas fa-angle-right"></i> Contato</a>
        <a href="/login"><i class="fas fa-angle-right"></i> Login</a>
        <a href="/cadastro"><i class="fas fa-angle-right"></i> Registre-se</a>
        <a href="/carrinho"><i class="fas fa-angle-right"></i> Carrinho</a>

    </nav>
</div>