.shoppingCart {
  .boxContainer {
    @include grid(31rem);
    .box {
      padding: 2rem;
      border: $border;
      background: $white;
      border-radius: 0.5rem;
      box-shadow: $boxShadow;
      display: flex;
      align-items: center;
      gap: 0.5rem;
      position: relative;

      .fa-times {
        position: absolute;
        top: 1rem;
        right: 1.5rem;
        font-size: 2.5rem;
        color: $lightColor;
        cursor: pointer;
      }

      img {
        height: 12rem;
      }

      .content {
        h3 {
          font-size: 1.7rem;
          color: $black;
        }

        form {
          padding: 1rem 0;
          display: flex;
          gap: 0.5rem;
          align-items: center;

          span {
            font-size: 1.5rem;
            color: $lightColor;
          }

          input {
            width: 7rem;
            padding: 0.5rem 1rem;
            border-radius: 0.5rem;
            background: $lightBg;
            font-size: 1.5rem;
          }
        }

        .price {
          font-size: 2rem;
          color: $blue;

          span {
            font-size: 1.5rem;
            color: $lightColor;
            text-decoration: line-through;
          }
        }
      }
    }
  }
  .cartTotal {
    margin-top: 2rem;
    box-shadow: $boxShadow;
    border: $border;
    border-radius: 0.5rem;
    background: $white;
    padding: 2rem;
    padding-top: 1rem;

    h3 {
      padding-top: 1rem;
      font-size: 2rem;
      color: $black;

      span {
        color: $blue;
      }
    }
  }
}
