.header {
  position: sticky;
  left: 0;
  top: 0;
  right: 0;
  padding: 1rem 10%;
  z-index: 100;
  background: $blue;
  display: flex;
  align-items: center;
  justify-content: space-between;

  .logo {
    font-size: 2.5rem;
    color: $white;
    font-weight: bold;

    i {
      color: $gold;
    }
  }

  .searchForm {
    border-radius: 5rem;
    width: 50rem;
    height: 5rem;
    padding: 0 2rem;
    display: flex;
    align-items: center;
    background: $white;

    input {
      width: 100%;
      padding-left: 1.7rem;
      font-size: 1.7rem;
      text-transform: none;
      color: $lightColor;
    }

    label {
      font-size: 2rem;
      color: $lightColor;
      cursor: pointer;

      &:hover {
        color: $blue;
      }
    }
  }

  .icons {
    a,
    div {
      font-size: 2.5rem;
      margin-left: 2rem;
      color: $white;
      cursor: pointer;

      &:hover {
        color: $gold;
      }
    }

    #searchBtn{
        display: none;
    }
  }
}
