@media (max-width: 1200px) {
  html {
    font-size: 55%;
  }

  .header {
    padding: 2rem;
  }

  section,
  footer {
    padding: 3rem 2rem;
  }

  .home {
    .slide {
      text-align: center;
    }
    .swiper-button-next,
    .swiper-button-prev {
      display: none;
    }
  }
}

@media (max-width: 991px) {
  .quickLinks,
  .credit {
    flex-flow: column;
    text-align: center;

    .links {
      padding: 1rem 0;
      a {
        display: block;
        font-size: 2rem;
        padding: 1rem 0;
      }
    }
    .share {
      a {
        font-size: 2.5rem;
        color: $white;
        margin-left: 2rem;

        &:hover {
          color: $gold;
        }
      }
    }
  }
}

@media (max-width: 768px) {
  .header {
    .searchForm {
      position: absolute;
      top: 99%;
      left: 0;
      right: 0;
      width: 100%;
      border-radius: 0;
      box-shadow: $boxShadow;
      height: 6rem;
      clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);

      &.active {
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
      }
    }
    .icons {
      #searchBtn {
        display: inline-block;
      }
    }
  }
}

@media (max-width: 450px) {
  html {
    font-size: 50%;
  }

  .header {
    justify-content: center;

    .logo {
      display: none;
    }
    .icons {
      a,
      div {
        margin: 0 1rem;
      }
    }
  }

  .home {
    .slide {
      .image {
        img {
          height: auto;
          width: 100%;
        }
      }
    }
  }

  .arrivals {
    .boxContainer {
      .box {
        flex-flow: column;
        gap: 2rem;
        text-align: center;
      }
    }
  }
}
