@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-decoration: none;
  outline: none;
  border: none;
  text-transform: capitalize;
  font-family: "Poppins", sans-serif;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

html {
  overflow-x: hidden;
  font-size: 62.5%;
}

html::-webkit-scrollbar {
  width: 1rem;
}

html::-webkit-scrollbar-track {
  background: #eee;
}

html::-webkit-scrollbar-thumb {
  background: #0984e3;
  border-radius: 5rem;
}

body {
  background: #eee;
}

section,
footer {
  padding: 3rem 10% !important;
}

.btn {
  margin: 1rem 0;
  display: inline-block;
  border-radius: 0.5rem;
  padding: 1rem 3rem;
  font-size: 1.7rem;
  color: #fff;
  cursor: pointer;
  background: #0984e3;
}

.btn:hover {
  background: #333;
}

.heading {
  text-align: center;
  margin-botto: 3rem;
  font-size: 3.5rem;
  color: #333;
}

.heading span {
  color: #0984e3;
}

@-webkit-keyframes fadeIn {
  0% {
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
    opacity: 0;
  }
}

@keyframes fadeIn {
  0% {
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
    opacity: 0;
  }
}

.header {
  position: -webkit-sticky;
  position: sticky;
  left: 0;
  top: 0;
  right: 0;
  padding: 1rem 10%;
  z-index: 100;
  background: #0984e3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header .logo {
  font-size: 2.5rem;
  color: #fff;
  font-weight: bold;
}

.header .logo i {
  color: gold;
}

.header .searchForm {
  border-radius: 5rem;
  width: 50rem;
  height: 5rem;
  padding: 0 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #fff;
}

.header .searchForm input {
  width: 100%;
  padding-left: 1.7rem;
  font-size: 1.7rem;
  text-transform: none;
  color: #666;
}

.header .searchForm label {
  font-size: 2rem;
  color: #666;
  cursor: pointer;
}

.header .searchForm label:hover {
  color: #0984e3;
}

.header .icons a,
.header .icons div {
  font-size: 2.5rem;
  margin-left: 2rem;
  color: #fff;
  cursor: pointer;
}

.header .icons a:hover,
.header .icons div:hover {
  color: gold;
}

.header .icons #searchBtn {
  display: none;
}

.sideBar {
  position: fixed;
  top: 0;
  left: -130%;
  height: 100%;
  width: 32rem;
  background: #fff;
  z-index: 101;
}

.sideBar.active {
  left: 0;
  -webkit-box-shadow: 0 0 0 100vw rgba(0, 0, 0, 0.7);
          box-shadow: 0 0 0 100vw rgba(0, 0, 0, 0.7);
}

.sideBar #closeSideBar {
  position: absolute;
  top: 1rem;
  right: 2rem;
  font-size: 4rem;
  cursor: pointer;
  color: #666;
}

.sideBar #closeSideBar:hover {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  color: #0984e3;
}

.sideBar .user {
  padding: 2rem;
  background: #eee;
  text-align: center;
}

.sideBar .user img {
  height: 17rem;
  width: 17rem;
  border-radius: 50%;
  border: 1rem solid #fff;
  -webkit-box-shadow: 0 0.5 1rem rgba(0, 0, 0, 0.2);
          box-shadow: 0 0.5 1rem rgba(0, 0, 0, 0.2);
  margin-bottom: 0.5rem;
}

.sideBar .user h3 {
  padding: 0.5rem 0;
  font-size: 1.7rem;
  color: #666;
}

.sideBar .user a {
  font-size: 1.5rem;
  color: #0984e3;
}

.sideBar .user a:hover {
  color: #333;
}

.sideBar .navBar {
  padding-top: 1rem;
}

.sideBar .navBar a {
  display: block;
  padding: 1rem 2rem;
  font-size: 1.7rem;
  color: #666;
}

.sideBar .navBar a:hover {
  color: #0984e3;
}

.sideBar .navBar a:hover i {
  padding-right: 2rem;
}

.sideBar .navBar i {
  padding-right: 0.5rem;
}

.home {
  background: #fff;
}

.swiper-button-next::after,
.swiper-button-prev::after {
  font-size: 3rem;
  color: #333;
}

.slide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 2rem;
}

.slide .image {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 40rem;
          flex: 1 1 40rem;
  text-align: center;
}

.slide .image img {
  height: 30rem;
}

.slide .content {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 40rem;
          flex: 1 1 40rem;
}

.slide .content span {
  font-size: 2rem;
  color: #0984e3;
}

.slide .content h3 {
  padding-top: 0.5rem;
  color: #333;
  font-size: 2rem;
}

.banner .boxContainer {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(30rem, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  gap: 2rem;
}

.banner .boxContainer .box {
  position: relative;
  height: 25rem;
  border: 0.2rem solid #333;
  border-radius: 0.5rem;
  overflow: hidden;
  -webkit-box-shadow: 0 0.5 1rem rgba(0, 0, 0, 0.2);
          box-shadow: 0 0.5 1rem rgba(0, 0, 0, 0.2);
}

.banner .boxContainer .box:hover img {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.banner .boxContainer .box img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.banner .boxContainer .box .content {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%) rotate(45deg);
          transform: translateY(-50%) rotate(45deg);
}

.banner .boxContainer .box .content span {
  font-size: 1.7rem;
  color: #0984e3;
}

.banner .boxContainer .box .content h3 {
  font-size: 2rem;
  color: #333;
  padding: .5rem 0;
}

.arrivals .boxContainer {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(31rem, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(31rem, 1fr));
  gap: 2rem;
  padding-top: 1rem;
}

.arrivals .boxContainer .box {
  border-radius: 0.5rem;
  border: 0.2rem solid #333;
  padding: 2rem;
  -webkit-box-shadow: 0 0.5 1rem rgba(0, 0, 0, 0.2);
          box-shadow: 0 0.5 1rem rgba(0, 0, 0, 0.2);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1rem;
  background: #fff;
}

.arrivals .boxContainer .box:hover .image .mainImg {
  display: none;
}

.arrivals .boxContainer .box:hover .image .hoverImg {
  display: inline-block;
}

.arrivals .boxContainer .box .image img {
  height: 15rem;
  -webkit-animation: fadeIn 0.2s linear;
          animation: fadeIn 0.2s linear;
}

.arrivals .boxContainer .box .image .hoverImg {
  display: none;
}

.arrivals .boxContainer .content h3 {
  font-size: 2rem;
  color: #333;
}

.arrivals .boxContainer .content .price {
  padding-top: 1.7rem;
  font-size: 2 rem;
  color: #0984e3;
}

.arrivals .boxContainer .content .price span {
  font-size: 1.5rem;
  color: #666;
  -webkit-text-decoration: line-though;
          text-decoration: line-though;
}

.arrivals .boxContainer .content .stars {
  padding-top: 1.7rem;
}

.arrivals .boxContainer .content .stars i {
  font-size: 1.5rem;
  color: gold;
}

.about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 2rem;
}

.about .image {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 42rem;
          flex: 1 1 42rem;
}

.about .image img {
  width: 100%;
}

.about .content {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 42rem;
          flex: 1 1 42rem;
  padding: 3rem;
  background: #fff;
}

.about .content h3 {
  font-size: 3rem;
  text-transform: uppercase;
  color: #333;
}

.about .content p {
  font-size: 1.5rem;
  color: #666;
  line-height: 2;
}

.faq .detailsContainer {
  max-width: 70rem;
  margin: 0 auto;
  padding: 1.5rem;
}

.faq .detailsContainer .details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1rem;
  margin-bottom: 2rem;
  -webkit-box-shadow: 0 0.5 1rem rgba(0, 0, 0, 0.2);
          box-shadow: 0 0.5 1rem rgba(0, 0, 0, 0.2);
  background: #fff;
}

.faq .detailsContainer .details.active summary {
  background: #0984e3;
}

.faq .detailsContainer .details.active summary i {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.faq .detailsContainer .details.active p {
  display: block;
}

.faq .detailsContainer .details:last-child {
  margin-bottom: 0.5rem;
}

.faq .detailsContainer .details summary {
  padding: 1.5rem;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 2rem;
  color: #fff;
  background: #333;
  cursor: pointer;
}

.faq .detailsContainer .details p {
  padding: 1.5rem;
  font-size: 1.5rem;
  line-height: 2;
  color: #666;
  display: none;
  -webkit-animation: fadeIn 0.2s linear;
          animation: fadeIn 0.2s linear;
}

.review .reviewsSlider .slide {
  display: block;
  width: 35rem;
  padding: 2rem;
  text-align: center;
  border: 0.2rem solid #333;
  -webkit-box-shadow: 0 0.5 1rem rgba(0, 0, 0, 0.2);
          box-shadow: 0 0.5 1rem rgba(0, 0, 0, 0.2);
}

.review .reviewsSlider .slide img {
  height: 10rem;
  width: 10rem;
  border-radius: 50%;
  margin-bottom: 0.5rem;
}

.review .reviewsSlider .slide h3 {
  font-size: 2rem;
  padding: 0.5rem 0;
  color: #333;
}

.review .reviewsSlider .slide span {
  color: #0984e3;
  font-size: 1.7rem;
}

.review .reviewsSlider .slide p {
  font-size: 1.5rem;
  line-height: 2;
  color: #666;
  padding-top: 1rem;
}

.category .boxContainer {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(15rem, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
  gap: 2rem;
}

.category .boxContainer .box {
  text-align: center;
  border-radius: 0.5rem;
  border: 0.2rem solid #333;
  padding: 2rem;
  background: #fff;
  -webkit-box-shadow: 0 0.5 1rem rgba(0, 0, 0, 0.2);
          box-shadow: 0 0.5 1rem rgba(0, 0, 0, 0.2);
}

.category .boxContainer .box:hover img {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.category .boxContainer .box:hover h3 {
  color: #333;
}

.category .boxContainer .box img {
  width: 100%;
  margin-bottom: 0.5rem;
}

.category .boxContainer .box h3 {
  font-size: 1.7rem;
  color: #0984e3;
}

.products .boxContainer {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(31rem, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(31rem, 1fr));
  gap: 2rem;
}

.products .boxContainer .box {
  padding: 2rem;
  border: 0.2rem solid #333;
  text-align: center;
  background: #fff;
  -webkit-box-shadow: 0 0.5 1rem rgba(0, 0, 0, 0.2);
          box-shadow: 0 0.5 1rem rgba(0, 0, 0, 0.2);
  border-radius: 0.5rem;
  overflow: hidden;
}

.products .boxContainer .box:hover .image .mainImg {
  display: none;
}

.products .boxContainer .box:hover .image .hoverImg {
  display: inline-block;
}

.products .boxContainer .box:hover .image .icons {
  left: 2rem;
}

.products .boxContainer .box .image {
  position: relative;
}

.products .boxContainer .box .image img {
  height: 25rem;
  -webkit-animation: fadeIn 0.2s linear;
          animation: fadeIn 0.2s linear;
}

.products .boxContainer .box .image .hoverImg {
  display: none;
}

.products .boxContainer .box .image .icons {
  position: absolute;
  top: 1rem;
  left: -7rem;
}

.products .boxContainer .box .image .icons a {
  display: block;
  margin-top: 1rem;
  height: 4.5rem;
  width: 4.5rem;
  line-height: 4.5rem;
  font-size: 1.7rem;
  border-radius: 50%;
  color: #fff;
  background: #333;
}

.products .boxContainer .box .image .icons a:hover {
  background: #0984e3;
}

.products .boxContainer .box .content {
  background: #eee;
  padding-top: 1rem;
}

.products .boxContainer .box .content h3 {
  font-size: 2rem;
  color: #333;
}

.products .boxContainer .box .content .price {
  font-size: 2.2rem;
  color: #0984e3;
}

.products .boxContainer .box .content .price span {
  color: #666;
  font-size: 1.5rem;
  text-decoration: line-through;
}

.products .boxContainer .box .content .stars i {
  font-size: 1.7rem;
  color: gold;
}

.productsBanner .boxContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 2rem;
}

.productsBanner .boxContainer .box {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 42rem;
          flex: 1 1 42rem;
  position: relative;
  -webkit-box-shadow: 0 0.5 1rem rgba(0, 0, 0, 0.2);
          box-shadow: 0 0.5 1rem rgba(0, 0, 0, 0.2);
  border-radius: 0.5rem;
  border: 0.2rem solid #333;
  overflow: hidden;
  height: 30rem;
}

.productsBanner .boxContainer .box:hover img {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.productsBanner .boxContainer .box img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.productsBanner .boxContainer .box .content {
  position: absolute;
  top: 50%;
  left: 5%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.productsBanner .boxContainer .box .content span {
  font-size: 1.7rem;
  color: #0984e3;
}

.productsBanner .boxContainer .box .content h3 {
  padding-top: 0.5rem;
  font-size: 2rem;
  color: #333;
}

.infoContainer .boxContainer {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(31rem, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(31rem, 1fr));
  gap: 2rem;
}

.infoContainer .boxContainer .box {
  background: #fff;
  border-radius: 0.5rem;
  text-align: center;
  padding: 2rem;
  border: 0.2rem solid #333;
  -webkit-box-shadow: 0 0.5 1rem rgba(0, 0, 0, 0.2);
          box-shadow: 0 0.5 1rem rgba(0, 0, 0, 0.2);
}

.infoContainer .boxContainer .box i {
  height: 7.5rem;
  width: 7.5rem;
  line-height: 7.5rem;
  font-size: 2.5rem;
  border-radius: 50%;
  margin-bottom: 0.5rem;
  background: #0984e3;
  color: #fff;
}

.infoContainer .boxContainer .box h3 {
  font-size: 2rem;
  padding: 0.5rem 0;
  color: #333;
}

.infoContainer .boxContainer .box p {
  font-size: 1.5rem;
  line-height: 2;
  color: #666;
}

.contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 2rem;
}

.contact form {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 42rem;
          flex: 1 1 42rem;
}

.contact form h3 {
  font-size: 3rem;
  text-transform: uppercase;
  color: #333;
  padding-bottom: 1rem;
}

.contact form p {
  font-size: 1.5rem;
  color: #666;
  padding: 1rem 0;
  line-height: 2;
}

.contact form .inputBox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: .5rem;
}

.contact form .inputBox input {
  width: 100%;
}

.contact form .inputBox input,
.contact form textarea {
  padding: 1.2rem 1.4rem;
  border-radius: 0.5rem;
  border: 0.2rem solid #333;
  -webkit-box-shadow: 0 0.5 1rem rgba(0, 0, 0, 0.2);
          box-shadow: 0 0.5 1rem rgba(0, 0, 0, 0.2);
  background: #fff;
  text-transform: none;
  color: #666;
  font-size: 1.7rem;
  margin: 0.7rem 0;
}

.contact form textarea {
  width: 100%;
  height: 15rem;
  resize: none;
}

.contact .map {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 42rem;
          flex: 1 1 42rem;
  width: 100%;
  border: 0.2rem solid #333;
}

.quickLinks,
.credit {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 2rem;
  background: #333;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.quickLinks .logo,
.credit .logo {
  font-size: 2.5rem;
  color: #fff;
  font-weight: bold;
}

.quickLinks .logo i,
.credit .logo i {
  color: gold;
}

.quickLinks .links a,
.credit .links a {
  margin: 0 1rem;
  color: #fff;
  font-size: 1.7rem;
}

.quickLinks .links a:hover,
.credit .links a:hover {
  color: gold;
}

.quickLinks .share a,
.credit .share a {
  font-size: 2.5rem;
  color: #fff;
  margin-left: 2rem;
}

.quickLinks .share a:hover,
.credit .share a:hover {
  color: gold;
}

.credit {
  background: #fff;
}

.credit p {
  font-size: 2rem;
  color: #666;
}

.credit p span {
  color: #0984e3;
}

.credit img {
  height: 4rem;
  -webkit-filter: drop-shadow(0 0 0.1rem, #333);
          filter: drop-shadow(0 0 0.1rem, #333);
}

@media (max-width: 1200px) {
  html {
    font-size: 55%;
  }
  .header {
    padding: 2rem;
  }
  section,
  footer {
    padding: 3rem 2rem;
  }
  .home .slide {
    text-align: center;
  }
  .home .swiper-button-next,
  .home .swiper-button-prev {
    display: none;
  }
}

@media (max-width: 991px) {
  .quickLinks,
  .credit {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column;
            flex-flow: column;
    text-align: center;
  }
  .quickLinks .links,
  .credit .links {
    padding: 1rem 0;
  }
  .quickLinks .links a,
  .credit .links a {
    display: block;
    font-size: 2rem;
    padding: 1rem 0;
  }
  .quickLinks .share a,
  .credit .share a {
    font-size: 2.5rem;
    color: #fff;
    margin-left: 2rem;
  }
  .quickLinks .share a:hover,
  .credit .share a:hover {
    color: gold;
  }
}

@media (max-width: 768px) {
  .header .searchForm {
    position: absolute;
    top: 99%;
    left: 0;
    right: 0;
    width: 100%;
    border-radius: 0;
    -webkit-box-shadow: 0 0.5 1rem rgba(0, 0, 0, 0.2);
            box-shadow: 0 0.5 1rem rgba(0, 0, 0, 0.2);
    height: 6rem;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
            clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
  }
  .header .searchForm.active {
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
            clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  }
  .header .icons #searchBtn {
    display: inline-block;
  }
}

@media (max-width: 450px) {
  html {
    font-size: 50%;
  }
  .header {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .header .logo {
    display: none;
  }
  .header .icons a,
  .header .icons div {
    margin: 0 1rem;
  }
  .home .slide .image img {
    height: auto;
    width: 100%;
  }
  .arrivals .boxContainer .box {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column;
            flex-flow: column;
    gap: 2rem;
    text-align: center;
  }
  .productsBanner .boxContainer .box img {
    opacity: 0.5;
  }
}
/*# sourceMappingURL=main.css.map */