.category {
  .boxContainer {
    @include grid(15rem);

    .box {
      text-align: center;
      border-radius: 0.5rem;
      border: $border;
      padding: 2rem;
      background: $white;
      box-shadow: $boxShadow;

      &:hover {
        img {
          transform: scale(1.1);
        }

        h3 {
          color: $black;
        }
      }

      img {
        width: 100%;
        margin-bottom: 0.5rem;
      }

      h3 {
        font-size: 1.7rem;
        color: $blue;
      }
    }
  }
}
