<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles/main/main.css">
    <link rel="stylesheet" href="./styles/homepage/home.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" />

    <title>E-commerce website - Produtos</title>
</head>

<body>
    <header class="header">
        <a href="index.html" class="logo"><i class="fas fa-store"></i> Shop</a>

        <form action="" class="searchForm">
            <input type="search" id="searchBox" placeholder="Pesquise aqui...">
            <label for="searchBox" class="fas fa-search"></label>
        </form>

        <div class="icons">
            <div class="fas fa-bars" id="menuBtn"></div>
            <div class="fas fa-search" id="searchBtn"></div>
            <a href="./login.html" class="fas fa-user"></a>
            <a href="#" class="fas fa-heart"></a>
            <a href="./cart.html" class="fas fa-shopping-cart"></a>
        </div>
    </header>

    <div class="sideBar">

        <div class="fas fa-times" id="closeSideBar"></div>

        <div class="user">
            <img src="./assets/images/user-img.png" alt="Imagem usuário">
            <h3>Usuário</h3>
            <a href="#">Sair</a>
        </div>

        <nav class="navBar">
            <a href="../index.html"><i class="fas fa-angle-right"></i> Home</a>
            <a href="./about.html"><i class="fas fa-angle-right"></i> Sobre</a>
            <a href="./products.html"><i class="fas fa-angle-right"></i> Produtos</a>
            <a href="./contact.html"><i class="fas fa-angle-right"></i> Contato</a>
            <a href="./login.html"><i class="fas fa-angle-right"></i> Login</a>
            <a href="./register.html"><i class="fas fa-angle-right"></i> Registre-se</a>
            <a href="./cart.html"><i class="fas fa-angle-right"></i> Carrinho</a>

        </nav>
    </div>

    <!-- category -->
    <section class="category">
        <h1 class="heading">loja por <span>categorias</span></h1>
        <div class="boxContainer">
            <a href="#" class="box">
                <img src="../assets/images/cat_img1.png" alt="imagem categoria">
                <h3>Produto</h3>
            </a>

            <a href="#" class="box">
                <img src="../assets/images/cat_img2.png" alt="imagem categoria">
                <h3>Produto</h3>
            </a>

            <a href="#" class="box">

                <img src="../assets/images/cat_img3.png" alt="imagem categoria">
                <h3>Produto</h3>
            </a>

            <a href="#" class="box">
                <img src="../assets/images/cat_img4.png" alt="imagem categoria">
                <h3>Produto</h3>
            </a>

            <a href="#" class="box">
                <img src="../assets/images/cat_img5.png" alt="imagem categoria">
                <h3>Produto</h3>
            </a>

            <a href="#" class="box">
                <img src="../assets/images/cat_img6.png" alt="imagem categoria">
                <h3>Produto</h3>
            </a>

            <a href="#" class="box">
                <img src="../assets/images/cat_img7.png" alt="imagem categoria">
                <h3>Produto</h3>
            </a>


        </div>
    </section>
    <!-- category -->
    <!-- products -->
    <section class="products">
        <h1 class="heading">produtos em <span>destaque</span>
        </h1>
        <div class="boxContainer">
            <div class="box">
                <div class="image">
                    <img src="../assets/images/product-1.jpg" alt="produto" class="mainImg">
                    <img src="../assets/images/product-1-hover.jpg" alt="produto" class="hoverImg">
                    <div class="icons">
                        <a href="#" class="fas fa-shopping-cart"></a>
                        <a href="#" class="fas fa-search-plus"></a>
                        <a href="#" class="fas fa-heart"></a>
                        <a href="#" class="fas fa-share"></a>
                    </div>
                </div>
                <div class="content">
                    <h3>produto</h3>
                    <div class="price">$000,00 <span>$000,00</span></div>
                    <div class="stars">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star-half-alt"></i>
                    </div>
                </div>
            </div>

            <div class="box">
                <div class="image">
                    <img src="../assets/images/product-2.jpg" alt="produto" class="mainImg">
                    <img src="../assets/images/product-2-hover.jpg" alt="produto" class="hoverImg">
                    <div class="icons">
                        <a href="#" class="fas fa-shopping-cart"></a>
                        <a href="#" class="fas fa-search-plus"></a>
                        <a href="#" class="fas fa-heart"></a>
                        <a href="#" class="fas fa-share"></a>
                    </div>
                </div>
                <div class="content">
                    <h3>produto</h3>
                    <div class="price">$000,00 <span>$000,00</span></div>
                    <div class="stars">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star-half-alt"></i>
                    </div>
                </div>
            </div>

            <div class="box">
                <div class="image">
                    <img src="../assets/images/product-3.jpg" alt="produto" class="mainImg">
                    <img src="../assets/images/product-3-hover.jpg" alt="produto" class="hoverImg">
                    <div class="icons">
                        <a href="#" class="fas fa-shopping-cart"></a>
                        <a href="#" class="fas fa-search-plus"></a>
                        <a href="#" class="fas fa-heart"></a>
                        <a href="#" class="fas fa-share"></a>
                    </div>
                </div>
                <div class="content">
                    <h3>produto</h3>
                    <div class="price">$000,00 <span>$000,00</span></div>
                    <div class="stars">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star-half-alt"></i>
                    </div>
                </div>
            </div>

            <div class="box">
                <div class="image">
                    <img src="../assets/images/product-4.jpg" alt="produto" class="mainImg">
                    <img src="../assets/images/product-4-hover.jpg" alt="produto" class="hoverImg">
                    <div class="icons">
                        <a href="#" class="fas fa-shopping-cart"></a>
                        <a href="#" class="fas fa-search-plus"></a>
                        <a href="#" class="fas fa-heart"></a>
                        <a href="#" class="fas fa-share"></a>
                    </div>
                </div>
                <div class="content">
                    <h3>produto</h3>
                    <div class="price">$000,00 <span>$000,00</span></div>
                    <div class="stars">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star-half-alt"></i>
                    </div>
                </div>
            </div>

            <div class="box">
                <div class="image">
                    <img src="../assets/images/product-5.jpg" alt="produto" class="mainImg">
                    <img src="../assets/images/product-5-hover.jpg" alt="produto" class="hoverImg">
                    <div class="icons">
                        <a href="#" class="fas fa-shopping-cart"></a>
                        <a href="#" class="fas fa-search-plus"></a>
                        <a href="#" class="fas fa-heart"></a>
                        <a href="#" class="fas fa-share"></a>
                    </div>
                </div>
                <div class="content">
                    <h3>produto</h3>
                    <div class="price">$000,00 <span>$000,00</span></div>
                    <div class="stars">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star-half-alt"></i>
                    </div>
                </div>
            </div>

            <div class="box">
                <div class="image">
                    <img src="../assets/images/product-6.jpg" alt="produto" class="mainImg">
                    <img src="../assets/images/product-6-hover.jpg" alt="produto" class="hoverImg">
                    <div class="icons">
                        <a href="#" class="fas fa-shopping-cart"></a>
                        <a href="#" class="fas fa-search-plus"></a>
                        <a href="#" class="fas fa-heart"></a>
                        <a href="#" class="fas fa-share"></a>
                    </div>
                </div>
                <div class="content">
                    <h3>produto</h3>
                    <div class="price">$000,00 <span>$000,00</span></div>
                    <div class="stars">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star-half-alt"></i>
                    </div>
                </div>
            </div>

            <div class="box">
                <div class="image">
                    <img src="../assets/images/product-7.jpg" alt="produto" class="mainImg">
                    <img src="../assets/images/product-7-hover.jpg" alt="produto" class="hoverImg">
                    <div class="icons">
                        <a href="#" class="fas fa-shopping-cart"></a>
                        <a href="#" class="fas fa-search-plus"></a>
                        <a href="#" class="fas fa-heart"></a>
                        <a href="#" class="fas fa-share"></a>
                    </div>
                </div>
                <div class="content">
                    <h3>produto</h3>
                    <div class="price">$000,00 <span>$000,00</span></div>
                    <div class="stars">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star-half-alt"></i>
                    </div>
                </div>
            </div>

            <div class="box">
                <div class="image">
                    <img src="../assets/images/product-8.jpg" alt="produto" class="mainImg">
                    <img src="../assets/images/product-8-hover.jpg" alt="produto" class="hoverImg">
                    <div class="icons">
                        <a href="#" class="fas fa-shopping-cart"></a>
                        <a href="#" class="fas fa-search-plus"></a>
                        <a href="#" class="fas fa-heart"></a>
                        <a href="#" class="fas fa-share"></a>
                    </div>
                </div>
                <div class="content">
                    <h3>produto</h3>
                    <div class="price">$000,00 <span>$000,00</span></div>
                    <div class="stars">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star-half-alt"></i>
                    </div>
                </div>
            </div>

            <div class="box">
                <div class="image">
                    <img src="../assets/images/product-9.jpg" alt="produto" class="mainImg">
                    <img src="../assets/images/product-9-hover.jpg" alt="produto" class="hoverImg">
                    <div class="icons">
                        <a href="#" class="fas fa-shopping-cart"></a>
                        <a href="#" class="fas fa-search-plus"></a>
                        <a href="#" class="fas fa-heart"></a>
                        <a href="#" class="fas fa-share"></a>
                    </div>
                </div>
                <div class="content">
                    <h3>produto</h3>
                    <div class="price">$000,00 <span>$000,00</span></div>
                    <div class="stars">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star-half-alt"></i>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- products -->
    <!-- banner -->
    <section class="productsBanner">
        <h1 class="heading"><span>Ofertas </span>do dia</h1>
        <div class="boxContainer">
            <div class="box">
                <img src="../assets/images/product-banner-1.jpg" alt="">
                <div class="content">
                    <span>Oferta especial</span>
                    <h3>Até 50% de desconto</h3>
                    <a href="#" class="btn">Comprar agora!</a>
                </div>
            </div>

            <div class="box">
                <img src="../assets/images/product-banner-2.jpg" alt="">
                <div class="content">
                    <span>Oferta especial</span>
                    <h3>Até 50% de desconto</h3>
                    <a href="#" class="btn">Comprar agora!</a>
                </div>
            </div>
        </div>
    </section>
    <!-- banner -->

    <footer class=" quickLinks">
        <a href="index.html" class="logo"><i class="fas fa-store"></i>Shop</a>
        <div class="links">
            <a href="../index.html"> Home</a>
            <a href="./about.html"> Sobre</a>
            <a href="./products.html"> Produtos</a>
            <a href="./contact.html"> Contato</a>
            <a href="./login.html"> Login</a>
            <a href="./register.html"> Registre-se</a>
            <a href="./cart.html"> Carrinho</a>
        </div>
        <div class="share">
            <a href="#" class="fab fa-facebook-f"></a>
            <a href="#" class="fab fa-twitter"></a>
            <a href="#" class="fab fa-instagram"></a>
            <a href="#" class="fab fa-linkedin"></a>
        </div>
    </footer>
    <section class="credit">
        <p>Criado por <span>Willian G.</span></p>
        <img src="./assets/images/card_img.png" alt="">
    </section>

    <script src="../js/script.js"></script>
    <script src="../js/slides.js"></script>
</body>

</html>