<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles/main/main.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" />

    <title>E-commerce website - Cadastrar</title>
</head>

<body>
    <header class="header">
        <a href="index.html" class="logo"><i class="fas fa-store"></i> Shop</a>

        <form action="" class="searchForm">
            <input type="search" id="searchBox" placeholder="Pesquise aqui...">
            <label for="searchBox" class="fas fa-search"></label>
        </form>

        <div class="icons">
            <div class="fas fa-bars" id="menuBtn"></div>
            <div class="fas fa-search" id="searchBtn"></div>
            <a href="./login.html" class="fas fa-user"></a>
            <a href="#" class="fas fa-heart"></a>
            <a href="./cart.html" class="fas fa-shopping-cart"></a>
        </div>
    </header>

    <div class="sideBar">

        <div class="fas fa-times" id="closeSideBar"></div>

        <div class="user">
            <img src="./assets/images/user-img.png" alt="Imagem usuário">
            <h3>Usuário</h3>
            <a href="#">Sair</a>
        </div>

        <nav class="navBar">
            <a href="../index.html"><i class="fas fa-angle-right"></i> Home</a>
            <a href="./about.html"><i class="fas fa-angle-right"></i> Sobre</a>
            <a href="./products.html"><i class="fas fa-angle-right"></i> Produtos</a>
            <a href="./contact.html"><i class="fas fa-angle-right"></i> Contato</a>
            <a href="./login.html"><i class="fas fa-angle-right"></i> Login</a>
            <a href="./register.html"><i class="fas fa-angle-right"></i> Registre-se</a>
            <a href="./cart.html"><i class="fas fa-angle-right"></i> Carrinho</a>

        </nav>
    </div>

    <section class="register">
        <form action="">
            <h3>Cadastre-se agora</h3>
            <input type="text" name="" placeholder="Seu nome" id="" class="box">
            <input type="text" name="" placeholder="Seu email" id="" class="box">
            <input type="password" name="" placeholder="Sua senha" id="" class="box">
            <input type="password" name="" placeholder="Confirmar senha" id="" class="box">
            <input type="submit" value="Confirmar cadastro" class="btn">
            <p>Ja tem uma conta?</p>
            <a class="btn link" href="./login.html">Logar agora</a>
        </form>
    </section>

    <footer class=" quickLinks">
        <a href="index.html" class="logo"><i class="fas fa-store"></i>Shop</a>
        <div class="links">
            <a href="../index.html"> Home</a>
            <a href="./about.html"> Sobre</a>
            <a href="./products.html"> Produtos</a>
            <a href="./contact.html"> Contato</a>
            <a href="./login.html"> Login</a>
            <a href="./register.html"> Registre-se</a>
            <a href="./cart.html"> Carrinho</a>
        </div>
        <div class="share">
            <a href="#" class="fab fa-facebook-f"></a>
            <a href="#" class="fab fa-twitter"></a>
            <a href="#" class="fab fa-instagram"></a>
            <a href="#" class="fab fa-linkedin"></a>
        </div>
    </footer>
    <section class="credit">
        <p>Criado por <span>Willian G.</span></p>
        <img src="./assets/images/card_img.png" alt="">
    </section>

    <script src="../js/script.js"></script>
    <script src="../js/slides.js"></script>
</body>

</html>