@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  outline: none;
  border: none;
  text-transform: capitalize;
  font-family: "Poppins", sans-serif;
  transition: all 0.2s linear;
}

@mixin grid($col) {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax($col, 1fr));
  gap: 2rem;
}

html {
  overflow-x: hidden;
  font-size: 62.5%;

  &::-webkit-scrollbar {
    width: 1rem;
  }

  &::-webkit-scrollbar-track {
    background: $lightBg;
  }

  &::-webkit-scrollbar-thumb {
    background: $blue;
    border-radius: 5rem;
  }
}

body {
  background: $lightBg;
}

section,
footer {
  padding: 3rem 10% !important;
}

.btn {
  margin: 1rem 0;
  display: inline-block;
  border-radius: 0.5rem;
  padding: 1rem 3rem;
  font-size: 1.7rem;
  color: $white;
  cursor: pointer;
  background: $blue;

  &:hover {
    background: $black;
  }
}

.heading {
  text-align: center;
  margin-botto: 3rem;
  font-size: 3.5rem;
  color: $black;
  span {
    color: $blue;
  }
}

@keyframes fadeIn {
  0% {
    transform: scale(0.5);
    opacity: 0;
  }
}
