.review {
  .reviewsSlider {
    .slide {
      display: block;
      width: 35rem;
      padding: 2rem;
      text-align: center;
      border: $border;
      box-shadow: $boxShadow;
      img {
        height: 10rem;
        width: 10rem;
        border-radius: 50%;
        margin-bottom: 0.5rem;
      }
      h3 {
        font-size: 2rem;
        padding: 0.5rem 0;
        color: $black;
      }
      span {
        color: $blue;
        font-size: 1.7rem;
      }

      p {
        font-size: 1.5rem;
        line-height: 2;
        color: $lightColor;
        padding-top: 1rem;
      }
    }
  }
}
